<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <title>Title</title>
    <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                crossorigin="anonymous"
        />
    <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
                crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='Accompanying_and_supervision_of_urban_development_works.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='lightbox.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
    <nav id="nav">
            <input type="checkbox" id="check">
            <label for="check" class="checkbth">
                <i class="fa fa-bars" style="color: #ffffff;" aria-hidden="true"></i>
            </label>
            <label class="logo"><img src="static/photo/לוגו.jpg" alt="" "></label>
            <div class="links" id="links">
                    <li><a href="/requirements">דרושים</a> </li>
                    <li><a href="/home">דף הבית - שירותים</a></li>
                    <li><a href="/profile">פרופיל החברה</a></li>
                    <li><a href="tel:0549451327">054-9451327</a>
                        <i class="fa fa-phone" aria-hidden="true"></i></li>
                    <li><a href="mailto:avi.askapa1@gmail.com">לשליחת מייל לחצו כאן</a>
                    <i class="fa fa-envelope" aria-hidden="true"></i></li>
            </div>
        </nav>
    <section>
        <div class="container">
            <h1>ליווי ופיקוח של עבודות פיתוח עירוניות</h1>
            <div class="top-content">
                <h3>ניהול ופיקוח על פיתוח שכונות בהקמה ותחזוקה של שכונות קיימות.

תשתיות תת קרקעיות (בזק, הוט, חברת חשמל, תשתיות רטובות וכו') ותשתיות עיליות (מדרכות, כבישים, שצ"פים, גינון, נגישות וכו')</h3>
                <a href="/home">לעמוד הקודם לחץ כאן</a>
            </div>
        </div>
    </section>
    <section>
         <div class="photo-gallery">
             <a href="static/photo/עבודות פיתוח עירוניות1.jpg" data-lightbox="imges" data-title="caption1">
                 <img src="static/photo/עבודות פיתוח עירוניות1.jpg">
             </a>
             <a href="static/photo/עבודות פיתוח עירוניות2.jpg" data-lightbox="imges" data-title="caption2">
                 <img src="static/photo/עבודות פיתוח עירוניות2.jpg">
             </a>
             <a href="static/photo/עבודות פיתוח עירוניות3.jpg" data-lightbox="imges" data-title="caption3">
                 <img src="static/photo/עבודות פיתוח עירוניות3.jpg">
             </a>
             <a href="static/photo/עבודות פיתוח עירוניות4.jpg" data-lightbox="imges" data-title="caption4">
                 <img src="static/photo/עבודות פיתוח עירוניות4.jpg">
             </a>
             <a href="static/photo/עבודות פיתוח עירוניות5.jpg" data-lightbox="imges" data-title="caption5">
                 <img src="static/photo/עבודות פיתוח עירוניות5.jpg">
             </a>
             <a href="static/photo/עירוני1.jpg" data-lightbox="imges" data-title="caption5">
                 <img src="static/photo/עירוני1.jpg">
             </a>
             <a href="static/photo/2.jpg" data-lightbox="imges" data-title="caption6">
                 <img src="static/photo/עירוני2.jpg">
             </a>
             <a href="static/photo/עירוני3.jpg" data-lightbox="imges" data-title="caption7">
                 <img src="static/photo/עירוני3.jpg">
             </a>
             <a href="static/photo/עירוני4.jpg" data-lightbox="imges" data-title="caption8">
                 <img src="static/photo/עירוני4.jpg">
             </a>
             <a href="static/photo/עירוני5.jpg" data-lightbox="imges" data-title="caption9">
                 <img src="static/photo/עירוני5.jpg">
             </a>
             <a href="static/photo/עירוני6.jpg" data-lightbox="imges" data-title="caption10">
                 <img src="static/photo/עירוני6.jpg">
             </a>
             <a href="static/photo/עירוני7.jpg" data-lightbox="imges" data-title="caption11">
                 <img src="static/photo/עירוני7.jpg">
             </a>
             <a href="static/photo/עירוני8.jpg" data-lightbox="imges" data-title="caption12">
                 <img src="static/photo/עירוני8.jpg">
             </a>
             <a href="static/photo/עירוני9.jpg" data-lightbox="imges" data-title="caption13">
                 <img src="static/photo/עירוני9.jpg">
             </a>
             <a href="static/photo/עירוני10.jpg" data-lightbox="imges" data-title="caption14">
                 <img src="static/photo/עירוני10.jpg">
             </a>
             <a href="static/photo/עירוני11.jpg" data-lightbox="imges" data-title="caption15">
                 <img src="static/photo/עירוני11.jpg">
             </a>
             <a href="static/photo/עירוני12.jpg" data-lightbox="imges" data-title="caption16">
                 <img src="static/photo/עירוני12.jpg">
             </a>
             <a href="static/photo/עירוני13.jpg" data-lightbox="imges" data-title="caption17">
                 <img src="static/photo/עירוני13.jpg">
             </a>
             <a href="static/photo/עירוני14.jpg" data-lightbox="imges" data-title="caption18">
                 <img src="static/photo/עירוני14.jpg">
             </a>
             <a href="static/photo/עירוני15.jpg" data-lightbox="imges" data-title="caption19">
                 <img src="static/photo/עירוני15.jpg">
             </a>
             <a href="static/photo/עירוני16.jpg" data-lightbox="imges" data-title="caption20">
                 <img src="static/photo/עירוני16.jpg">
             </a>
             <a href="static/photo/עירוני17.jpg" data-lightbox="imges" data-title="caption21">
                 <img src="static/photo/עירוני17.jpg">
             </a>
             <a href="static/photo/עירוני18.jpg" data-lightbox="imges" data-title="caption22">
                 <img src="static/photo/עירוני18.jpg">
             </a>
             <a href="static/photo/עירוני19.jpg" data-lightbox="imges" data-title="caption23">
                 <img src="static/photo/עירוני19.jpg">
             </a>
             <a href="static/photo/עירוני20.jpg" data-lightbox="imges" data-title="caption24">
                 <img src="static/photo/עירוני20.jpg">
             </a>
             <a href="static/photo/עירוני21.jpg" data-lightbox="imges" data-title="caption25">
                 <img src="static/photo/עירוני21.jpg">
             </a>
             <a href="static/photo/עירוני22.jpg" data-lightbox="imges" data-title="caption26">
                 <img src="static/photo/עירוני22.jpg">
             </a>
             <a href="static/photo/עירוני23.jpg" data-lightbox="imges" data-title="caption27">
                 <img src="static/photo/עירוני23.jpg">
             </a>
             <a href="static/photo/עירוני24.jpg" data-lightbox="imges" data-title="caption28">
                 <img src="static/photo/עירוני24.jpg">
             </a>
             <a href="static/photo/עירוני25.jpg" data-lightbox="imges" data-title="caption29">
                 <img src="static/photo/עירוני25.jpg">
             </a>
             <a href="static/photo/עירוני26.jpg" data-lightbox="imges" data-title="caption30">
                 <img src="static/photo/עירוני26.jpg">
             </a>
             <a href="static/photo/עירוני27.jpg" data-lightbox="imges" data-title="caption31">
                 <img src="static/photo/עירוני27.jpg">
             </a>
         </div>
    </section>
    <section>
            <div class="bottom-nav">
                <div class="icons2">
                    <div class="icon-phon2">
                        <a href="tel:0549451327">054-9451327</a>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="icon-mail2">
                        <a href="mailto:avi.askapa1@gmail.com">avi.askapa1@gmail.com</a>
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        <h8>- כל הזכויות שמורות אוגדן מהנדסים - הנדסה ניהול פיקוח ונגישות -</h8>
                    </div>
                    <div class="lihi">
                        <li> <a href="tel:0542578783"><h8>Created by Lihi Askapa</h8></a> </li>
                    </div>
                </div>
            </div>
        </section>
    <script src="static/lightbox-plus-jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
    <a href="https://wa.me/972549451327?text=%D7%91%D7%99%D7%A7%D7%A8%D7%AA%D7%99%20%D7%91%D7%90%D7%AA%D7%A8%20%D7%90%D7%95%D7%92%D7%93%D7%9F%20%D7%9E%D7%94%D7%A0%D7%93%D7%A1%D7%99%D7%9D%2C%20%D7%90%D7%A9%D7%9E%D7%97%20%D7%9C%D7%A7%D7%91%D7%9C%20%D7%94%D7%A6%D7%A2%D7%AA%20%D7%9E%D7%97%D7%99%D7%A8%21"
           target="_blank"
           class="float"
           style="
           position: fixed;
           width: 60px;
           height: 60px;
           bottom: 40px;
           left: 40px;
           background-color: #25d366;
           color: #fff;
           border-radius: 50%;
           text-align: center;
           z-index: 100;
           box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
           ">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg"
          alt="צור קשר בוואטסאפ"
          style="width: 60%; height: 60%; margin-top: 20%;"
        />
</body>
</html>