<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <title>Title</title>
    <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                crossorigin="anonymous"
        />
    <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
                crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='Construction_of_sewage_plants_and_wastewater_treatment_plants_and_their_ongoing_maintenance.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='lightbox.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
    <nav id="nav">
            <input type="checkbox" id="check">
            <label for="check" class="checkbth">
                <i class="fa fa-bars" style="color: #ffffff;" aria-hidden="true"></i>
            </label>
            <label class="logo"><img src="static/photo/לוגו.jpg" alt="" "></label>
            <div class="links" id="links">
                    <li><a href="/requirements">דרושים</a> </li>
                    <li><a href="/home">דף הבית - שירותים</a></li>
                    <li><a href="/profile">פרופיל החברה</a></li>
                    <li><a href="tel:0549451327">054-9451327</a>
                        <i class="fa fa-phone" aria-hidden="true"></i></li>
                    <li><a href="mailto:avi.askapa1@gmail.com">לשליחת מייל לחצו כאן</a>
                    <i class="fa fa-envelope" aria-hidden="true"></i></li>
            </div>
    </nav>
    <section>
        <div class="container">
            <h1>ניהול ופיקוח על בניית מכוני ביוב ומים ומכוני טיהור שפכים ואחזקתם השוטפת</h1>
            <div class="top-content">
                <h3>מפקח על תהליך בניית מכונים, הטמעת המשאבות המתאימות ופיקוח על בניית קווי סניקה</h3>
                <a href="/home">לעמוד הקודם לחץ כאן</a>
            </div>
        </div>
    </section>
    <section>
         <div class="photo-gallery">
             <a href="static/photo/ביוב1.jpg" data-lightbox="imges" data-title="caption1">
                 <img src="static/photo/biyuv1.jpg">
             </a>
             <a href="static/photo/ביוב2.jpg" data-lightbox="imges" data-title="caption2">
                 <img src="static/photo/biyuv2.jpg">
             </a>
             <a href="static/photo/ביוב3.jpg" data-lightbox="imges" data-title="caption3">
                 <img src="static/photo/biyuv3.jpg">
             </a>
             <a href="static/photo/ביוב4.jpg" data-lightbox="imges" data-title="caption4">
                 <img src="static/photo/biyuv4.jpg">
             </a>
             <a href="static/photo/ביוב5.jpg" data-lightbox="imges" data-title="caption5">
                 <img src="static/photo/biyuv5.jpg">
             </a>
             <a href="static/photo/ביוב6.jpg" data-lightbox="imges" data-title="caption6">
                 <img src="static/photo/biyuv6.jpg">
             </a>
             <a href="static/photo/ביוב7.jpg" data-lightbox="imges" data-title="caption7">
                 <img src="static/photo/biyuv7.jpg">
             </a>
             <a href="static/photo/ביוב8.jpg" data-lightbox="imges" data-title="caption8">
                 <img src="static/photo/biyuv8.jpg">
             </a>
             <a href="static/photo/ביוב10.jpg" data-lightbox="imges" data-title="caption9">
                 <img src="static/photo/biyuv10.jpg">
             </a>
             <a href="static/photo/ביוב11.jpg" data-lightbox="imges" data-title="caption10">
                 <img src="static/photo/biyuv13.jpg">
             </a>
             <a href="static/photo/ביוב13.jpg" data-lightbox="imges" data-title="caption11">
                 <img src="static/photo/biyuv14.jpg">
             </a>
             <a href="static/photo/ביוב14.jpg" data-lightbox="imges" data-title="caption12">
                 <img src="static/photo/biyuv15.jpg">
             </a>
             <a href="static/photo/ביוב15.jpg" data-lightbox="imges" data-title="caption13">
                 <img src="static/photo/biyuv17.jpg">
             </a>
             <a href="static/photo/ביוב17.jpg" data-lightbox="imges" data-title="caption14">
                 <img src="static/photo/biyuv18.jpg">
             </a>
             <a href="static/photo/ביוב18.jpg" data-lightbox="imges" data-title="caption15">
                 <img src="static/photo/biyuv19.jpg">
             </a>
             <a href="static/photo/ביוב19.jpg" data-lightbox="imges" data-title="caption16">
                 <img src="static/photo/ביוב19.jpg">
             </a>
             <a href="static/photo/ביוב20.jpg" data-lightbox="imges" data-title="caption16">
                 <img src="static/photo/ביוב20.jpg">
             </a>
             <a href="static/photo/ביוב21.jpg" data-lightbox="imges" data-title="caption17">
                 <img src="static/photo/ביוב21.jpg">
             </a>
             <a href="static/photo/ביוב22.jpg" data-lightbox="imges" data-title="caption18">
                 <img src="static/photo/ביוב22.jpg">
             </a>
             <a href="static/photo/ביוב23.jpg" data-lightbox="imges" data-title="caption19">
                 <img src="static/photo/ביוב23.jpg">
             </a>
             <a href="static/photo/ביוב24.jpg" data-lightbox="imges" data-title="caption20">
                 <img src="static/photo/ביוב24.jpg">
             </a>
             <a href="static/photo/ביוב25.jpg" data-lightbox="imges" data-title="caption21">
                 <img src="static/photo/ביוב25.jpg">
             </a>
             <a href="static/photo/ביוב26.jpg" data-lightbox="imges" data-title="caption22">
                 <img src="static/photo/ביוב26.jpg">
             </a>
             <a href="static/photo/ביוב27.jpg" data-lightbox="imges" data-title="caption23">
                 <img src="static/photo/ביוב27.jpg">
             </a>
             <a href="static/photo/ביוב28.jpg" data-lightbox="imges" data-title="caption24">
                 <img src="static/photo/ביוב28.jpg">
             </a>
             <a href="static/photo/ביוב29.jpg" data-lightbox="imges" data-title="caption25">
                 <img src="static/photo/ביוב29.jpg">
             </a>
             <a href="static/photo/ביוב30.jpg" data-lightbox="imges" data-title="caption26">
                 <img src="static/photo/ביוב30.jpg">
             </a>
             <a href="static/photo/ביוב31.jpg" data-lightbox="imges" data-title="caption27">
                 <img src="static/photo/ביוב31.jpg">
             </a>
         </div>
    </section>
    <section>
            <div class="bottom-nav">
                <div class="icons2">
                    <div class="icon-phon2">
                        <a href="tel:0549451327">054-9451327</a>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="icon-mail2">
                        <a href="mailto:avi.askapa1@gmail.com">avi.askapa1@gmail.com</a>
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        <h8>- כל הזכויות שמורות אוגדן מהנדסים - הנדסה ניהול פיקוח ונגישות -</h8>
                    </div>
                    <div class="lihi">
                        <li> <a href="tel:0542578783"><h8>Created by Lihi Askapa</h8></a> </li>
                    </div>
                </div>
            </div>
        </section>
    <script src="static/lightbox-plus-jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
    <a href="https://wa.me/972549451327?text=%D7%91%D7%99%D7%A7%D7%A8%D7%AA%D7%99%20%D7%91%D7%90%D7%AA%D7%A8%20%D7%90%D7%95%D7%92%D7%93%D7%9F%20%D7%9E%D7%94%D7%A0%D7%93%D7%A1%D7%99%D7%9D%2C%20%D7%90%D7%A9%D7%9E%D7%97%20%D7%9C%D7%A7%D7%91%D7%9C%20%D7%94%D7%A6%D7%A2%D7%AA%20%D7%9E%D7%97%D7%99%D7%A8%21"
           target="_blank"
           class="float"
           style="
           position: fixed;
           width: 60px;
           height: 60px;
           bottom: 40px;
           left: 40px;
           background-color: #25d366;
           color: #fff;
           border-radius: 50%;
           text-align: center;
           z-index: 100;
           box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
           ">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg"
          alt="צור קשר בוואטסאפ"
          style="width: 60%; height: 60%; margin-top: 20%;"
        />
</body>
</html>