<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> אוגדן מהנדסים </title>
        <link rel="stylesheet" href="static/style.css">
        <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                crossorigin="anonymous"
        />
        <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
                crossorigin="anonymous"
        />
        <title>{% block title %}Home{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
        />
    </head>
    <body>
        <nav id="nav">
            <input type="checkbox" id="check">
            <label for="check" class="checkbth">
                <i class="fa fa-bars" style="color: #ffffff;" aria-hidden="true"></i>
            </label>
            <label class="logo"><img src="static/photo/לוגו.jpg" alt=""></label>
            <div class="links" id="links">
                    <li><a href="http://xn----zhcgebfd1bybgjpo.xn--4dbrk0ce/templates/requirements.html">דרושים</a> </li>
                    <li><a href="#home-page">דף הבית - שירותים</a></li>
                    <li><a href="http://xn----zhcgebfd1bybgjpo.xn--4dbrk0ce/templates/profile.html">פרופיל החברה</a></li>
                    <li><a href="tel:0549451327">054-9451327</a>
                        <i class="fa fa-phone" aria-hidden="true"></i></li>
                    <li><a href="mailto:avi.askapa1@gmail.com">לשליחת מייל לחצו כאן</a>
                    <i class="fa fa-envelope" aria-hidden="true"></i></li>
            </div>
        </nav>
        <main>
            <section>
                <div class="title">
                    <div class="text-card">
                        <h1>אוגדן מהנדסים<span></span></h1>
                        <h5>אבי אסקפה</h5>
                        <h3>הנדסה ניהול, פיקוח ונגישות</h3>
                    </div>
                </div>
            </section>
        </main>
        <section>
            <div id="home-page" class="title2">
                <div class="text-card">
                    <h3>שירותי הנדסה, ניהול, פיקוח וייעוץ לעבודות בניה ותשתיות</h3>
                </div>
            </div>
        </section>
        <section class="container">
            <div class="card__container swiper">
                <div class="card__content">
                    <div class="swiper-wrapper">
                        <article class="card__article swiper-slide">
                            <div class="card_data">
                                <h3 class="card__name">נגישות</h3>
                                <p class="card_discription">
                                    מתן אישורי נגישות לרישוי עסקים, ביצוע סקרי נגישות, לבניינים קיימים וחדשים (מוסדות ציבור: בתי ספר, גנים, פארקים, קניונים וכו'), נגישות בשטחים פתוחים כולל עזרה ברכישת אביזרי נגישות.
                                </p>
                                <a href="http://xn----zhcgebfd1bybgjpo.xn--4dbrk0ce/templates/accessibility.html" class="card__button">לגלריה לחצו כאן</a>
                            </div>
                        </article>
                        <article class="card__article swiper-slide">
                            <div class="card_data">
                                <h3 class="card__name">ניהול פיקוח ותיאום עבודות בנייה</h3>
                                <p class="card_discription">
                                    החברה מספקת שירותי ניהול ופיקוח ללקוחות פרטיים הבונים בית פרטי מהיסוד או העומדים לפני הרחבה ו/או שיפוץ מאסיבי וליזמים הבונים בניינים ומחפשים שירותי ניהול ופיקוח.
                                </p>
                                <a href="http://xn----zhcgebfd1bybgjpo.xn--4dbrk0ce/templates/management_supervision.html" class="card__button">לגלריה לחצו כאן</a>
                            </div>
                        </article>
                        <article class="card__article swiper-slide">
                            <div class="card_data">
                                <h3 class="card__name">ניהול פיקוח ותאום תשתיות ביוב ניקוז מים וניפוץ בתאגידי מים</h3>
                                <p class="card_discription">
                                    המשרד מעניק שירותי ניהול ופיקוח עבור רשויות שונות בכל התחומים: ניהול תכנון, ניהול ופיקוח, בקרת איכות, הבטחת איכות, היתרים, אישורים, ליווי וייעוץ הנדסי.
                                </p>
                                <a href="http://xn----zhcgebfd1bybgjpo.xn--4dbrk0ce/templates/Management_of_supervision_and_coordination_of_water_drainage_and_sewerage_infrastructures_in_water_corporations.html" class="card__button">לגלריה לחצו כאן</a>
                            </div>
                        </article>
                        <article class="card__article swiper-slide">
                            <div class="card_data">
                                <h3 class="card__name">ניהול ופיקוח עבודות גינון ושצ"פים</h3>
                                <p class="card_discription">
                                    מפקח על עבודות תכנון וביצוע פיתוח גינון ושצ"פים
                                </p>
                                <a href="http://xn----zhcgebfd1bybgjpo.xn--4dbrk0ce/templates/Gardening_works_and_open_public_space.html" class="card__button">לגלריה לחצו כאן</a>
                            </div>
                        </article>
                        <article class="card__article swiper-slide">
                            <div class="card_data">
                                <h3 class="card__name">ניהול ופיקוח על בניית מכוני ביוב ומים ומכוני טיהור שפכים ואחזקתם השוטפת</h3>
                                <p class="card_discription">
                                    מפקח על תהליך בניית מכונים, הטמעת המשאבות המתאימות ופיקוח על בניית קווי סניקה
                                </p>
                                <a href="http://xn----zhcgebfd1bybgjpo.xn--4dbrk0ce/templates/Construction_of_sewage_plants_and_wastewater_treatment_plants_and_their_ongoing_maintenance.html" class="card__button">לגלריה לחצו כאן</a>
                            </div>
                        </article>
                        <article class="card__article swiper-slide">
                            <div class="card_data">
                                <h3 class="card__name">ניהול פיקוח ותיאום עבודות פיתוח עפר בכבישים</h3>
                                <p class="card_discription">
                                    ניהול ופיקוח על עבודות עפר, מבנה כביש וסלילה/ריבוד
                                </p>
                                <a href="http://xn----zhcgebfd1bybgjpo.xn--4dbrk0ce/templates/Earth_development_works_on_roads.html" class="card__button">לגלריה לחצו כאן</a>
                            </div>
                        </article>
                        <article class="card__article swiper-slide">
                            <div class="card_data">
                                <h3 class="card__name">ליווי ופיקוח של עבודות פיתוח עירוניות</h3>
                                <p class="card_discription">
                                    ניהול ופיקוח על פיתוח שכונות בהקמה ותחזוקה של שכונות קיימות. תשתיות תת קרקעיות (בזק, הוט, חברת חשמל, תשתיות רטובות וכו') ותשתיות עיליות(מדרכות,כבישים, שצ"פים, גינון, נגישות וכו')
                                </p>
                                <a href="http://xn----zhcgebfd1bybgjpo.xn--4dbrk0ce/templates/Accompanying_and_supervision_of_urban_development_works.html" class="card__button">לגלריה לחצו כאן</a>
                            </div>
                        </article>
                        <article class="card__article swiper-slide">
                            <div class="card_data">
                                <h3 class="card__name">ניהול ופיקוח על תשתיות דלק וגז</h3>
                                <p class="card_discription">
                                    ניהול ופיקוח על תשתיות דלק וגז. הקמת קווים חדשים, אחזקת קווי דלק וגז
                                </p>
                                <a href="http://xn----zhcgebfd1bybgjpo.xn--4dbrk0ce/templates/fuel_and_gas_infrastructures.html" class="card__button">לגלריה לחצו כאן</a>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="swiper-button-prev">
                    <i class="ri-arrow-left-s-line"></i>
                </div>
                <div class="swiper-button-next">
                    <i class="ri-arrow-right-s-line"></i>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>
        <section>
            <div class="title-lekohot">
                <div class="text-card">
                    <h3>הלקוחות שלנו</h3>
                </div>
            </div>
            <div class="logos">
                <div class="logos-slide">
                    <img src="static/photo/Gan_Yavne_COA.png"/>
                    <img src="static/photo/logo_modiin_water.png"/>
                    <img src="http://xn----zhcgebfd1bybgjpo.xn--4dbrk0ce/static/photo/%D7%9E%D7%A0%D7%99%D7%91.png"/>
                    <img src="static/photo/Mekorot.png"/>
                    <img src="static/photo/tamar.png"/>
                    <img src="static/photo/yuvalim.png"/>
                    <img src="http://xn----zhcgebfd1bybgjpo.xn--4dbrk0ce/static/photo/%D7%90%D7%A9%D7%93%D7%95%D7%93.png"/>
                    <img src="http://xn----zhcgebfd1bybgjpo.xn--4dbrk0ce/static/photo/%D7%92%D7%93%D7%A8%D7%94.png"/>
                    <img src="http://xn----zhcgebfd1bybgjpo.xn--4dbrk0ce/static/photo/%D7%94%D7%97%D7%91%D7%A8%D7%94%20%D7%94%D7%9B%D7%9C%D7%9B%D7%9C%D7%99%D7%AA%20%D7%9E%D7%95%D7%93%D7%99%D7%A2%D7%99%D7%9F.png"/>
                    <img src="http://xn----zhcgebfd1bybgjpo.xn--4dbrk0ce/static/photo/%D7%AA%D7%9C%20%D7%90%D7%91%D7%99%D7%91%20%D7%99%D7%A4%D7%95.png"/>
                    <img src="http://xn----zhcgebfd1bybgjpo.xn--4dbrk0ce/static/photo/%D7%A2%D7%99%D7%A8%D7%99%D7%99%D7%AA%20%D7%99%D7%91%D7%A0%D7%94.png"/>
                    <img src="http://xn----zhcgebfd1bybgjpo.xn--4dbrk0ce/static/photo/%D7%AA%D7%A9%D7%AA%D7%99%D7%95%D7%AA%20%D7%A0%D7%A4%D7%98%20%D7%95%D7%90%D7%A0%D7%A8%D7%92%D7%99%D7%94.png"/>
                    <img src="http://xn----zhcgebfd1bybgjpo.xn--4dbrk0ce/static/photo/%D7%A7%D7%A8%D7%99%D7%99%D7%AA%20%D7%A2%D7%A7%D7%A8%D7%95%D7%9F.png"/>
            </div>
            <div class="logos-slide">
                    <img src="static/photo/Gan_Yavne_COA.png"/>
                    <img src="static/photo/logo_modiin_water.png"/>
                    <img src="http://xn----zhcgebfd1bybgjpo.xn--4dbrk0ce/static/photo/%D7%9E%D7%A0%D7%99%D7%91.png"/>
                    <img src="static/photo/Mekorot.png"/>
                    <img src="static/photo/tamar.png"/>
                    <img src="static/photo/yuvalim.png"/>
                    <img src="http://xn----zhcgebfd1bybgjpo.xn--4dbrk0ce/static/photo/%D7%90%D7%A9%D7%93%D7%95%D7%93.png"/>
                    <img src="http://xn----zhcgebfd1bybgjpo.xn--4dbrk0ce/static/photo/%D7%92%D7%93%D7%A8%D7%94.png"/>
                    <img src="http://xn----zhcgebfd1bybgjpo.xn--4dbrk0ce/static/photo/%D7%94%D7%97%D7%91%D7%A8%D7%94%20%D7%94%D7%9B%D7%9C%D7%9B%D7%9C%D7%99%D7%AA%20%D7%9E%D7%95%D7%93%D7%99%D7%A2%D7%99%D7%9F.png"/>
                    <img src="http://xn----zhcgebfd1bybgjpo.xn--4dbrk0ce/static/photo/%D7%AA%D7%9C%20%D7%90%D7%91%D7%99%D7%91%20%D7%99%D7%A4%D7%95.png"/>
                    <img src="http://xn----zhcgebfd1bybgjpo.xn--4dbrk0ce/static/photo/%D7%A2%D7%99%D7%A8%D7%99%D7%99%D7%AA%20%D7%99%D7%91%D7%A0%D7%94.png"/>
                    <img src="http://xn----zhcgebfd1bybgjpo.xn--4dbrk0ce/static/photo/%D7%AA%D7%A9%D7%AA%D7%99%D7%95%D7%AA%20%D7%A0%D7%A4%D7%98%20%D7%95%D7%90%D7%A0%D7%A8%D7%92%D7%99%D7%94.png"/>
                    <img src="http://xn----zhcgebfd1bybgjpo.xn--4dbrk0ce/static/photo/%D7%A7%D7%A8%D7%99%D7%99%D7%AA%20%D7%A2%D7%A7%D7%A8%D7%95%D7%9F.png"/>
            </div>
            </div>
        </section>
        <section>
            <div class="bottom-nav">
                <div class="icons2">
                    <div class="icon-phon2">
                        <a href="tel:0549451327">054-9451327</a>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="icon-mail2">
                        <a href="mailto:avi.askapa1@gmail.com">avi.askapa1@gmail.com</a>
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        <h8>- כל הזכויות שמורות אוגדן מהנדסים - הנדסה ניהול פיקוח ונגישות -</h8>
                    </div>
                    <div class="lihi">
                        <li> <a href="tel:0542578783"><h8>Created by Lihi Askapa</h8></a> </li>
                    </div>
                </div>
            </div>
        </section>
        <!--
        <script>
            var swiper = new Swiper(".mySwiper", {
              effect: "coverflow",
              grabCursor: true,
              centeredSlides: true,
              slidesPerView: "auto",
              coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
              },
              pagination: {
                el: ".swiper-pagination",
              },
            });
        </script>

        <script type="text/javascript">
            window.addEventListener('scroll',reveal);

            function reveal(){
                var reveals = document.querySelectorAll('.reveal');

                for (var i=0; i<reveals.length; i++){
                    var windowheight = window.innerHeight;
                    var revealtop = reveals[i].getBoundingClientRect().top;
                    var revealpoint = 150;

                    if (revealpoint < windowheight - revealtop){
                        reveals[i].classList.add('active');
                    }
                    else{
                        reveals[i].classList.remove('active');
                    }
                }
            }
        </script>
        -->
        <script
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
        <script type="text/javascript">
            function deleteNote(noteId) { fetch("/delete-note", {method: "POST",body: JSON.stringify({ noteId: noteId }),}).then((_res) => {window.location.href = "/";});}
        </script>
        <script>
        document.addEventListener('DOMContentLoaded', function () {
        let swiperCards = new Swiper('.card__content', {
        loop: true,
        spaceBetween: 32,
        grabCursor: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
            dynamicBullets: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        breakpoints:{
            600:{
                slidesPerView:2,
            },
            968:{
                slidesPerView:3,
            },
        },
        });
    });
    </script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <a href="https://wa.me/972549451327?text=%D7%91%D7%99%D7%A7%D7%A8%D7%AA%D7%99%20%D7%91%D7%90%D7%AA%D7%A8%20%D7%90%D7%95%D7%92%D7%93%D7%9F%20%D7%9E%D7%94%D7%A0%D7%93%D7%A1%D7%99%D7%9D%2C%20%D7%90%D7%A9%D7%9E%D7%97%20%D7%9C%D7%A7%D7%91%D7%9C%20%D7%94%D7%A6%D7%A2%D7%AA%20%D7%9E%D7%97%D7%99%D7%A8%21"
           target="_blank"
           class="float"
           style="
           position: fixed;
           width: 60px;
           height: 60px;
           bottom: 40px;
           left: 40px;
           background-color: #25d366;
           color: #fff;
           border-radius: 50%;
           text-align: center;
           z-index: 100;
           box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
           ">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg"
          alt="צור קשר בוואטסאפ"
          style="width: 60%; height: 60%; margin-top: 20%;"
        />
    </body>
</html>