<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <title>Title</title>
    <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                crossorigin="anonymous"
        />
    <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
                crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='profile.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
    <nav id="nav">
            <input type="checkbox" id="check">
            <label for="check" class="checkbth">
                <i class="fa fa-bars" style="color: #ffffff;" aria-hidden="true"></i>
            </label>
            <label class="logo"><img src="static/photo/לוגו.jpg" alt="" "></label>
            <div class="links" id="links">
                    <li><a href="/requirements">דרושים</a> </li>
                    <li><a href="/home">דף הבית - שירותים</a></li>
                    <li><a href="/profile">פרופיל החברה</a></li>
                    <li><a href="tel:0549451327">054-9451327</a>
                        <i class="fa fa-phone" aria-hidden="true"></i></li>
                    <li><a href="mailto:avi.askapa1@gmail.com">לשליחת מייל לחצו כאן</a>
                    <i class="fa fa-envelope" aria-hidden="true"></i></li>
            </div>
    </nav>
    <section>
        <div class="title-profile">
            <div class="text-card">
                <h4>פרופיל חברת אוגדן מהנדסים</h4>
                <p>אוגדן מהנדסים - עוסקת בניהול התכנון, התכנון, ניהול, פיקוח, ליווי וייעוץ הנדסי של עבודות בניה ותשתיות, נגישות מתו'ס ונגישות שירות.</p>
            </div>
        </div>
    </section>
    <section>
        <div class="info">
            <img src="static/photo/aviprofile.jpg" alt="" ">
            <h4>המייסד והבעלים - מר אבי אסקפה:</h4>
            <p>- בוגר תואר ראשון במנהל עסקים - אוניברסיטת דרבי</p>
            <p>- הנדסאי אזרחי הרשום בפנקס ההנדסאים של אוניברסיטת תל אביב</p>
            <p>- מפקח מורשה בפועל של חברת המים הלאומית מקורות</p>
            <p>- מפקח מורשה בפועל של תש"ן</p>
            <p>- מורשה נגישות מתו"ס של אוניברסיטת אריאל בשומרון</p>
            <p>- דירקטור ונושא משרה בכירה בתאגידים של אוניברסיטת תל אביב</p>
            <p>- מפקח מים וביוב של רשות המים</p>
            <p>- מנהל עבודה מוסמך במשרד הכלכלה</p>
            <p>- מפקח ריתוך של לשכת המהנדסים, האדריכלים תל אביב</p>
            <p>- מורשה מטעם משרד הבריאות להתקנה ובדיקה של מז"חים</p>
            <p>- סוקר איכות מבנים וכתיבת חוות דעת מומחים</p>
        </div>
        <div class="info2">
            <p>למשרדינו 25 שנות ניסיון מעשי בביצוע, ניהול הקמה ליווי וייעוץ הנדסי של פרויקטים גדולים
וקטנים בתחום תשתיות מים, ביוב, ניקוז, בניה, פיתוח תשתיות עירוניות, נגישות מבנים,
פיתוח גינון עירוני ושצ"פים. אנחנו מעסיקים שלושה מהנדסים אזרחיים המתמחים בבנייה
,תשתיות ותכנון .
באמצעות ידע נצבר זה, אוגדן מהנדסים מעניקה שירותים בתחומים אלה עבור רשויות וגופים
ציבוריים גדולים כמו תאגידי מים, עיריות, חכ"לים וגופים פרטיים.
            </p>
        </div>
        <div class="info3">
            <p>- הניהול ההנדסי של אבי אסקפה הנדסה ניהול פיקוח ונגישות מתחיל בשלב הייזום הראשוני וכולל את בחירת צוות תכנון ויועצים לכל פרויקט. תאום ליווי וניהול התכנון, ייעוץ הנדסי, טיפול בהיתרים, ליווי בהכנת חוזים, בדיקה ואישור חשבונות דרך ליווי הלקוח ביציאה למכרז ועד לשלב הסופי: ניהול ופיקוח על הביצוע. </p>
            <p>- העבודה נעשית תוך הקפדה על לוחות הזמנים, הפחתת עלויות ושימת דגש על איכות ושביעות רצון הלקוח.</p>
            <p>- אוגדן מהנדסים עובד בהתאם לנהלי איכות ותקנים בינלאומיים.</p>
        </div>
    </section>
    <section>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3385.3276274053155!2d34.808036284838714!3d31.95200738122894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502b5495c4c327b%3A0x531b924c6f314364!2z15DXkdeZINeQ16HXp9ek15QtINeU16DXk9eh15Qg16DXmdeU15XXnCDXpNeZ16fXldeXINeV16DXkteZ16nXldeq!5e0!3m2!1siw!2sil!4v1690987096317!5m2!1siw!2sil" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
        <section>
            <div class="bottom-nav">
                <div class="icons2">
                    <div class="icon-phon2">
                        <a href="tel:0549451327">054-9451327</a>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="icon-mail2">
                        <a href="mailto:avi.askapa1@gmail.com">avi.askapa1@gmail.com</a>
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        <h8>- כל הזכויות שמורות אוגדן מהנדסים - הנדסה ניהול פיקוח ונגישות -</h8>
                    </div>
                    <div class="lihi">
                        <li> <a href="tel:0542578783"><h8>Created by Lihi Askapa</h8></a> </li>
                    </div>
                </div>
            </div>
        </section>
    <script
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
    ></script>
    {% block javascript %}
    <script type="text/javascript">
        function deleteNote(noteId) { fetch("/delete-note", {method: "POST",body: JSON.stringify({ noteId: noteId }),}).then((_res) => {window.location.href = "/";});}
    </script>
    {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
    <a href="https://wa.me/972549451327?text=%D7%91%D7%99%D7%A7%D7%A8%D7%AA%D7%99%20%D7%91%D7%90%D7%AA%D7%A8%20%D7%90%D7%95%D7%92%D7%93%D7%9F%20%D7%9E%D7%94%D7%A0%D7%93%D7%A1%D7%99%D7%9D%2C%20%D7%90%D7%A9%D7%9E%D7%97%20%D7%9C%D7%A7%D7%91%D7%9C%20%D7%94%D7%A6%D7%A2%D7%AA%20%D7%9E%D7%97%D7%99%D7%A8%21"
           target="_blank"
           class="float"
           style="
           position: fixed;
           width: 60px;
           height: 60px;
           bottom: 40px;
           left: 40px;
           background-color: #25d366;
           color: #fff;
           border-radius: 50%;
           text-align: center;
           z-index: 100;
           box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
           ">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg"
          alt="צור קשר בוואטסאפ"
          style="width: 60%; height: 60%; margin-top: 20%;"
        />
</body>
</html>