<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <title>Title</title>
  <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                crossorigin="anonymous"
        />
    <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
                crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='requirements.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
    <nav id="nav">
            <input type="checkbox" id="check">
            <label for="check" class="checkbth">
                <i class="fa fa-bars" style="color: #ffffff;" aria-hidden="true"></i>
            </label>
            <label class="logo"><img src="static/photo/לוגו.jpg" alt="" "></label>
            <div class="links" id="links">
                    <li><a href="/requirements">דרושים</a> </li>
                    <li><a href="/home">דף הבית - שירותים</a></li>
                    <li><a href="/profile">פרופיל החברה</a></li>
                    <li><a href="tel:0549451327">054-9451327</a>
                        <i class="fa fa-phone" aria-hidden="true"></i></li>
                    <li><a href="mailto:avi.askapa1@gmail.com">לשליחת מייל לחצו כאן</a>
                    <i class="fa fa-envelope" aria-hidden="true"></i></li>
            </div>
    </nav>
    <section>
        <main>
            <div class="container">
                <h1>דרושים באוגדן מהנדסים</h1>
            </div>
            <div class="cards">
                <div class="text-card">
                    <h3>הנדסאים/ות אזרחי/בניין</h3>
                    <h5>תיאור המשרה:</h5>
                    <p>לחברה העוסקת בניהול ופיקוח פרויקטים בתחום בנייה ותשתיות, דרושים הנדסאים/ות אזרחי/בניין
    בעלי/ות ניסיון של שנה ומעלה באזור מרכז ושפלה.
    הזדמנות מעולה ללמוד ולהתמקצע.
    משרה מלאה בתנאים נוחים.</p>
                    <h5>דרישות התפקיד:</h5>
                    <p>תואר הנדסאי אזרחי/בניין ממוסד מוכר- חובה
    ניסיון של שנה ומעלה בתחום.
                    <p>מוטיבציה ונכונות ללמידה ולעבודה מאתגרת.</p>
                    <p>רישיון נהיגה - חובה.</p>
                    <hr>
                    <h4>להגשת מועמדות יש להעביר קורות חיים למייל</h4>
                    <a href="mailto:avi.askapa1@gmail.com">avi.askapa1@gmail.com </a>
                </div>
                <div class="text-card2">
                    <h3>מהנדסים/ות אזרחי/בניין</h3>
                    <h5>תיאור המשרה:</h5>
                    <p>לחברה העוסקת בניהול ופיקוח פרויקטים בתחום בנייה ותשתיות, דרושים מהנדסים/יות אזרחי/בנין
    בעלי/ות ניסיון של שנה ומעלה באזור מרכז ושפלה.
    משרה מלאה בתנאים נוחים.</p>
                    <h5>דרישות התפקיד:</h5>
                    <p>מהנדס אזרחי/בניין ממוסד מוכר- חובה
    ניסיון של שנה ומעלה בתחום.
                    <p>מוטיבציה ונכונות לעבודה מאתגרת.</p>
                    <p>רישיון נהיגה - חובה.</p>
                    <hr>
                    <h4>להגשת מועמדות יש להעביר קורות חיים למייל</h4>
                    <a href="mailto:avi.askapa1@gmail.com">avi.askapa1@gmail.com</a>
                </div>
                <div class="text-card3">
                    <h3>מנהלי עבודה בתחום תשתיות ובנייה</h3>
                    <h5>תיאור המשרה:</h5>
                    <p>לחברה העוסקת בניהול ופיקוח פרויקטים בתחום בנייה ותשתיות, דרושים מנהלי עבודה בתחום תשתיות ובנייה
    בעלי/ות הסמכה של משרד העבודה.
    משרה מלאה בתנאים נוחים.</p>
                    <h5>דרישות התפקיד:</h5>
                    <p>מנהל עבודה עם הסמכה של משרד העבודה.
    ניסיון בניהול עובדים, אחריות על בטיחות, התנהלות מול ספקים וקבלנים, יכולת עבודה תחת לחץ ועמידה בלוחות זמנים, מתן פתרונות בשטח ואסרטיביות לצד יחסי אנוש מצויינים.
                    <hr>
                    <h4>להגשת מועמדות יש להעביר קורות חיים למייל</h4>
                    <a href="mailto:avi.askapa1@gmail.com">avi.askapa1@gmail.com</a>
                </div>
            </div>
        </main>
    </section>
    <section>
            <div class="bottom-nav">
                <div class="icons2">
                    <div class="icon-phon2">
                        <a href="tel:0549451327">054-9451327</a>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="icon-mail2">
                        <a href="mailto:avi.askapa1@gmail.com">avi.askapa1@gmail.com</a>
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        <h8>- כל הזכויות שמורות אוגדן מהנדסים - הנדסה ניהול פיקוח ונגישות -</h8>
                    </div>
                    <div class="lihi">
                        <li> <a href="tel:0542578783"><h8>Created by Lihi Askapa</h8></a> </li>
                    </div>
                </div>
            </div>
    </section>
    <a href="https://wa.me/972549451327?text=%D7%91%D7%99%D7%A7%D7%A8%D7%AA%D7%99%20%D7%91%D7%90%D7%AA%D7%A8%20%D7%90%D7%95%D7%92%D7%93%D7%9F%20%D7%9E%D7%94%D7%A0%D7%93%D7%A1%D7%99%D7%9D%2C%20%D7%90%D7%A9%D7%9E%D7%97%20%D7%9C%D7%A7%D7%91%D7%9C%20%D7%94%D7%A6%D7%A2%D7%AA%20%D7%9E%D7%97%D7%99%D7%A8%21"
           target="_blank"
           class="float"
           style="
           position: fixed;
           width: 60px;
           height: 60px;
           bottom: 40px;
           left: 40px;
           background-color: #25d366;
           color: #fff;
           border-radius: 50%;
           text-align: center;
           z-index: 100;
           box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
           ">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg"
          alt="צור קשר בוואטסאפ"
          style="width: 60%; height: 60%; margin-top: 20%;"
        />
</body>
</html>